html{
    scroll-behavior: smooth;
  }
  
  body {
      font-family: 'Nunito', sans-serif;
      margin: 0px;
      padding: 0px;
  }
  
    .navigation-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      margin: auto;
      position: sticky;
      top: 0px;
      background-color: white;
    }
    .logo {
      margin-left: 5%;
    }
    .logo-image {
      width: 20vh;
      height: auto;
      display: block;
    }
    .navigation {
      margin-right: 5%;
      font-size: 3vh;
    }
    .navigation ul {
      padding: 0px;
    }
    .nav-item {
      display: inline;
      padding: 3vw;
      margin: 5px;
    }
    .nav-link {
      text-decoration: none;
      color: black;
    }
  
    .nav-link:hover{
      color: #17a7f5;
      
    }
   
    .main-section {
      text-align: justify;
      padding: 0px 10vh;
      margin: 5%;
      margin-top: 2vh;
    }
  
    .section-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      margin: auto;
      top: 0px;
      padding: 10vh 0px;
    }

    .tile{
        box-sizing: none;
        font-size: 5vw;
        width: 30vw;
        height: 100%;
        margin: auto;
        border: 3px solid #096fa7;
        border-radius: 2vw;
    }
    
    .tile a{
        text-decoration: none;
        color: black;
    }

    .footer-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      text-align: center;
      margin: 10vh 100px;
    }
  
    .social-media a{
      text-decoration: none;
      color: black;
    }
  
    .social-media i{
      text-align: space-between;
      padding: 3vw;
    }
    
    .top-icon {
      position: fixed;
      bottom: 5vw;
      right: 2vw;
      font-size: 1.5vw;
      background-color: #45bafa;
      border: 1px solid black;
      padding: 1vw;
      border-radius: 20vw;
    }
    .top-icon a {
      text-decoration: none;
      color: black;
      /* scroll-behavior: smooth; */
    }
  
    .top-icon i{
      text-align: justify;
    }